@{
    ViewBag.Title = "Главная";
}

<h2>Главная</h2>
<hr />

<li>@Html.ActionLink("Сотрудники", "Employee", "Home")</li>
<li>@Html.ActionLink("Организации", "Organization", "Home")</li>
<li>@Html.ActionLink("Преподаватель", "Teacher", "Home")</li>

<li>@Html.ActionLink("Учебные группы", "StudyGroup", "Home")</li>