@model APP.Models.Employee

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Удаление сотрудника</title>
</head>
<body>
    <h3>Вы действительно хотите удалить этого сотрудника?</h3>
   
        <legend><b>Сотрудник</b></legend>
    
        <div class="display-label">
        ФИО:  @Html.DisplayFor(model => model.FIO)
        </div>
       
        <div class="display-label">
             Организация:    @Html.DisplayFor(model => model.Organization.Title)
        </div>
      
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <p>
            <input type="submit" value="Удалить" /> |
            @Html.ActionLink("Назад", "Index")
        </p>
    }

</body>
</html>
